<div class="page" data-ng-init="initWaves()">

    <!-- Simple Panel -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <header class="panel-heading">
                    <strong>Access Key</strong>
                </header>
                <div class="panel-body">
                    <div class="text-center">
                        <img ng-if = "newAccessQrcode"  ng-src="{{newAccessQrcode}}" alt='qr code'>
                    </div>
                    <div class="text-center"><span>{{newAccessKey}}</span></div>

                </div>
                <div class="panel-footer">
                    <button class="btn btn-block" ng-click="genAccessCode()">Gen key</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <header class="panel-heading">
                    <strong>Confirm key</strong>
                </header>
                <div class="panel-body">
                    <div class="text-center">
                        <img ng-if = "newConfirmQrcode" ng-src="{{newConfirmQrcode}}" alt='qr code'>
                    </div>
                    <div class="text-center"><span>{{newConfirmKey}}</span></div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-block" ng-click="genConfirmCode()">Gen key</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <h4 class="nm pad-15"> List Access Key</h4>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="text-center">Key</th>
                            <th class="text-center">Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="key in listAccessKey">
                            <td>{{$index}}</td>
                            <td style="font-size : 12px" class="text-center">{{key.key}}</td>
                            <td style="font-size : 12px" class="text-center">{{key.created_date | date : "hh:mm a, dd/MM/yyyy"}}</td>
                            <td class="text-center">
                                <button class="btn btn-danger" ng-click="deleteKey(key._id,$index)">x</button>
                            </td>
                        </tr>
                
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>