<div class="lock-wrapper">
        <div class="panel lock-box">
          <!-- <div class="center"> <img alt="" src="images/photos/user.png" class="img-circle"/> </div> -->
          <div class="row">
            <form action="index.html" class="form-inline" role="form">
              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="iconic-input right">
                  <label for="signupInputEmail" class="text-muted">Your Key :</label>
                  <input id="signupInputEmail1" ng-model="accessKey" type="text" placeholder="Enter your key" class="form-control padding-horizontal-15" required="required" />
                  <i class="fa fa-envelope"></i> </div>
                <button type="button" class="btn btn-block btn-primary" ng-click="triggerAccessKey()">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>