<div class="error-full-page" style="background-image: url('/images/photos/deadnot.jpg') !important;width: 100%;height: 1200px;" > 
        <!-- start: 404 -->
        <div class="col-sm-12 page-error" style="margin-top : 300px">
          <div class="col-sm-4 text-center"> <a href="#/pages/signin"><button class="btn btn-sucess btn-block">Login</button></a></div>
          <div class="col-sm-4 text-center"> <a href="#/pages/access"><button class="btn btn-primary btn-block">Commit access key</button></a></div>
          <div class="col-sm-4 text-center"> <a href="#/pages/rip"><button class="btn btn-danger btn-block">Commit confirm key</button></a></div>
        </div>
        <!-- end: 404 --> 
      </div>
      