<div class="lock-wrapper">
  <div class="panel lock-box">
    <div class="center"> <img alt="" src="images/photos/user.png" class="img-circle"/> </div>
    <div class="row">
      
      <form action="index.html" class="form-inline" role="form">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <div class="iconic-input right">
            <label for="signupInputEmail" class="text-muted">Username</label>
            <input id="signupInputEmail1" ng-model="username" type="email" placeholder="Enter email id" class="form-control padding-horizontal-15" required="required" />
            <i class="fa fa-envelope"></i> </div>
          <div class="iconic-input right">
            <label for="signupInputPassword" class="text-muted">Password</label>
            <input id="signupInputPassword" type="password" ng-model="password" placeholder="Password" class="form-control lock-input" required="required" />
            <i class="fa fa-lock"></i> </div>
          <div class="square-blue pull-left pv-15">
            <label class="ui-checkbox">
              <input name="checkbox1" type="checkbox" ng-model="rememberMe" value="option1">
              <span> <strong> Remember Me </strong> </span> </label>
          </div>
          <button type="button" class="btn btn-block btn-primary" ng-click="login()">Sign In</button>
        </div>
      </form>
    </div>
  </div>
  <div class="registration" style="color : white"> Don't have an account ! <a href="#/pages/signup"> <span style="color : #08ef0c"> Sign Up </span> </a> </div>
</div>
<script >
   $('#content').css('background-image', "url('/images/photos/deadnot.jpg')");
</script>